/* Container do formulário */
.form-container {
  -fx-background-color: #607DFF;
  -fx-padding: 20;
  -fx-spacing: 24;
}

/* Estilo do título */
.title-label {
  -fx-font-size: 24px;
  -fx-text-fill: white;
  -fx-font-weight: 700;
}

/* Campos de entrada */
.input-field {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-prompt-text-fill: gray;
  -fx-padding: 10;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-max-width: 411px;
}

/* Botão de envio */
.submit-button {
  -fx-background-color: white;
  -fx-text-fill: #607DFF;
  -fx-font-weight: bold;
  -fx-padding: 12;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}


/* Efeito de hover */
.submit-button:hover {
  -fx-background-color: #607DFF; /* Fundo muda ao passar o mouse */
  -fx-text-fill: white; /* Texto muda para branco */
  -fx-border-color: white; /* Borda muda para branco */
}

.hbox-separate {
  -fx-spacing: 16; /* Espaçamento entre os botões */
  -fx-alignment: center; /* Alinha os botões no centro */
}

.reset-password-button {
  -fx-background-color: transparent; /* Fundo muda ao passar o mouse */
  -fx-text-fill: white; /* Texto muda para branco */
  -fx-border-color: white;
  -fx-border-radius: 5;
}