/* Container do formulário */
.form-container {
  -fx-background-color: #607DFF;
  -fx-padding: 20;
}

/* Estilo do título */
.title-label {
  -fx-font-size: 24px;
  -fx-text-fill: white;
  -fx-font-weight: 700;
}

/* Campos de entrada */
.input-field {
  -fx-background-color: white;
  -fx-text-fill: black;
  -fx-prompt-text-fill: gray;
  -fx-padding: 10;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-max-width: 411px;
}

/* Botão de envio */
.submit-button {
  -fx-background-color: white;
  -fx-text-fill: #607DFF;
  -fx-font-weight: bold;
  -fx-padding: 12;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
  -fx-cursor: hand;
}

.hbox-separate {
  -fx-spacing: 30; /* Espaçamento entre os botões */
  -fx-alignment: center; /* Alinha os botões no centro */
}